.container{
    display: flex;
    align-items: flex-end;
    gap: 30px;
    
}

.selectImageContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputContanier{
    display: flex;
    align-items: center;
}
.inputContanier label{
    background-color: #151515;
    border: none;
    color:#fff;
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 300px;
}

	input[type="file"] {
		margin-left: 32ch;
        display: none;
    }
		
		input[type="file"]::file-selector-button {
			display: none;
		}

.imgContainer{
    width: 300px;
    height: 300px;
    border: 2px solid #151515;
    border-radius: 5px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlistImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.playlistIcon{
    width: 60%;
    height: 60%;
    object-fit: contain;
    
}

.playlistName{
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #1db954;
    margin-bottom: 1rem;
}

.playlistName:focus{
    outline: none;
}

.button{
    background-color: #1db954;
    border: none;
    color:#181818;
    font-family: inherit;
    padding: 1rem 2rem;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 2rem;
    cursor: pointer;
    width: 20rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.15s linear;
}

.button:hover{
        background-color: #14f549;
}