.modal{
    background-color:#1DA1F2 ;
    width: max-content;
    padding:0.5rem 1rem;
    border-radius: 20px;
    bottom: 100px;
    position: fixed;
    left: calc(50% + 100px);
    transform: translate(-50%, 0);
    transition: all 0.5s linear;
    z-index: 400;
}
