.searchBar{
    max-width: 500px;
    width: 50vw;
    display: flex;
    align-items: center;
    position: relative;
}

.bar{
    width: 90%;
    height: 100%;
    padding: 0.6rem 0.8rem;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    font-family: inherit;
    color: #181818;
    padding-right: 2.5rem;
    font-size: 1rem;
}

.bar:focus{
    border: 2px solid #000000
}

::placeholder{
    color: #181818;
}

.icon{
    width: 10%;
    cursor: pointer;
    position: absolute;
    right: 50px;
    color: #181818;
}

.result{
    width: 100%;
    margin: 1.5rem auto;
}
/*.result > div{
    border: 1px solid red;
}*/
.headingInfo, .track{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 0.5rem;
    padding-right: 0.5rem;
}

.headingInfo{
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff6f6;
}

.track{
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;
}

.track:hover{
    background-color: #595959;
    cursor: pointer;
}

.trackTitleContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.trackInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    height: 100%;
    margin-right: 0.8rem;

}

.numberContainer{
        display: flex;
    align-items: center;
    justify-content: center;
        width: 3%;
        margin-right: 20px;

}

.trackNoHeading{
    text-align: center;
}



.trackTitleHeading{
    width: 50%;
    margin: 0;
}

.trackTitle{
        margin-right: 0.8rem;
    font-size: 0.9rem;
}

.trackArtists{
    font-size: 0.8rem;
    color: #e2e2e2;
}


.trackImg{
    width: 48px;
    height: 48px;
}

.trackAlbum{
    width: 50%;
}

.durationContainer{
    display: flex;
    width: 7%;
    align-items: center;
    position: relative;
    justify-content: space-between;

}
.trackDuration{
    text-align: right;

}

.menuIcon{
        font-size: 1rem;

}

.dropdown, .playlistDropdown{
    position: absolute;
    background-color: #afafaf;
    color: #000;
    font-weight: 700;
    padding: 0.3rem 0;
    z-index: 56;
}

.dropdown{
    top: 0;
    left: -180px;
    width: 240px;
    
}

.playlistDropdown{
    top: 0;
    left: -320px;
}
.playlistElements{
    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: all 0.3s linear;
}
ul{
    list-style-type: none;
}
.playlistElements li{
    padding: 0.5rem 1rem;
}
.playlistElements li:hover{
 background-color: #14f549 ;   
}

.msg{
    font-size: 2rem;
    align-self: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 0);
    text-align: center; 
max-width: 500px;    
}
.msg span{
    font-weight: bold;
    color: #14f549;
}
.searchcontainer{
    position: relative;
    width: 100%;
    height: 100%;
}

.iconsvg{
    width: 50%;
   height: 24px;
    display: flex;
    transform: rotate(-180deg);
    gap:1px
}

.stroke{
    width: 20%;
    background-color: #14f549;
}
.stroke:nth-child(1){
    animation: svg1 2s ease-in-out infinite ;
}
.stroke:nth-child(2){
    animation: svg2 1.8s ease-in-out infinite ;
}
.stroke:nth-child(3){
    animation: svg3 1.3s ease-in-out infinite ;
}
.stroke:nth-child(4){
    animation: svg4 1.5s ease-in-out infinite ;
}
.stroke:nth-child(5){
    animation: svg5 2s ease-in-out infinite ;
}


@keyframes svg1 {
    0%{
        height: 10%;
    }
    100%{
        height: 80%;
    }
}

@keyframes svg2 {
    0%{
        height: 10%;
    }
    100%{
        height: 70%;
    }
}@keyframes svg3 {
    0%{
        height: 10%;
    }
    100%{
        height: 90%;
    }
}@keyframes svg4 {
    0%{
        height: 10%;
    }
    100%{
        height: 65%;
    }
}@keyframes svg5 {
    0%{
        height: 10%;
    }
    100%{
        height: 50%;
    }
}

